.section {
	display: flex;
	flex-direction: row;
	align-items: center;
  position: relative;
}

.places {

  margin-top: 10px;
  align-content: center;
  // display: flex;
  // justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.space {
  padding: 10px;
}

.space:hover {
  cursor: pointer;
  background-color: $lightest-gray;
}