<header class="main-nav fa-spin">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars fa-spin"></i>
				<span>sections</span>
			</li>

			<li id="search-modal-btn">
				<i class="fa fa-search fa-spin"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<br>

	<nav class="right-nav" >
		<ul> 
			<li id="subscribe-btn">
			<button style="font-size: 20px">Subcribe Now</button>
			</li>
			<li id="log-in-btn">
			<button style="font-size: 20px">Log In</button>
			</li>
			<li id="settings-cog-btn">
				<i class="fas fa-cog fa-spin" style="font-size:50px;"></i>
			</li>

		</ul>
	</nav>
</header>