<header class="fa-spin">
<span class="logo">
   
       <a href="#">CSS</a>
       <a href="#">HTML</a>
       <a href="#">Javascript</a>
       <a href="#">Ruby</a>
   
</span>


<span class="masthead">
  <img class="logo" src="assets/AA_Times_Logo" 
   alt="some popup">

<ul>
  <a href="#">Tuesday, October 18, 2016</a>
  |
  <a href="#">Today’s Paper</a>
  |
  <a href="#">Video</a>
  |
  <a href="#">77°F</a>
  |
  <a href="#">AAO +100%</a>
</ul>
</span>

<br>
