<span class="places">
  <a class="space" href="#">World</a>
  <a class="space" href="#">San Francisco</a>
  <a class="space" href="#">New York</a>
  <a class="space" href="#">Bootcamp Prep</a>
  <a class="space" href="#">Jumpstart</a>
  <a class="space" href="#">Online</a>
  <a class="space" href="#">Marketing</a>
  <a class="space" href="#">Sales</a>
  <a class="space" href="#">TalentMatch</a>
  <a class="space" href="#">Alumni</a>
  <a class="space" href="#">All</a>
</span>
